os: Visual Studio 2015
environment:
  VERSION: 4.2.1
  NAME: 331 Haxe - PixiJS Project
  DESC: A PixiJS v4.x project written in the Haxe language
  INFO: https:\/\/github.com\/SlavaRa\/fdproject-haxe-pixijs
  GITHUB_RELEASES: https:\/\/github.com\/SlavaRa\/fdproject-haxe-pixijs\/releases
  APPMAN_TEMPLATE: appman.template
  APPMAN_CONFIG_XML: appman.txt
  LIB_PATH: C:\projects\haxelib-pixijs
version: $(VERSION).{build}
skip_tags: true
init:
- git clone -q --branch=master https://github.com/pixijs/pixi-haxe.git "%LIB_PATH%"
- cd "%LIB_PATH%"
- git checkout tags/"%VERSION%" -b "%VERSION%"
- cd %APPVEYOR_BUILD_FOLDER%
matrix:
  fast_finish: true
before_build:
build: off
build_script:
- cp "%LIB_PATH%"/libs/perf.min.js $(BaseDir)/Projects/"%NAME%"/bin/perf.min.js
- cp "%LIB_PATH%"/libs/pixi-spine.js $(BaseDir)/Projects/"%NAME%"/bin/pixi-spine.js
- cp "%LIB_PATH%"/libs/pixi-tilemap.min.js $(BaseDir)/Projects/"%NAME%"/bin/pixi-tilemap.min.js
- cp "%LIB_PATH%"/libs/pixi.min.js $(BaseDir)/Projects/"%NAME%"/bin/pixi.min.js
- 7z a "%NAME%".zip $(BaseDir)
- mv "%NAME%".zip "%NAME%".fdz
- md5sum "%NAME%".fdz > checksum.md5
- sed -e "s/.//" checksum.md5 > checksum.tmp.md5 && mv checksum.tmp.md5 checksum.md5
- sed -e "s/ .*//" checksum.md5 > checksum.tmp.md5 && mv checksum.tmp.md5 checksum.md5
- set /p CHECKSUM=<checksum.md5
- rm checksum.md5
- mv %APPMAN_TEMPLATE% %APPMAN_CONFIG_XML%
- sed -i -e s/_ID_/template/g %APPMAN_CONFIG_XML%
- sed -i -e "s/_NAME_/%NAME%/g" %APPMAN_CONFIG_XML%
- sed -i -e "s/_DESC_/%DESC%/g" %APPMAN_CONFIG_XML%
- sed -i -e "s/_VERSION_/%VERSION%/g" %APPMAN_CONFIG_XML%
- sed -i -e "s/_BUILD_/%APPVEYOR_BUILD_NUMBER%/g" %APPMAN_CONFIG_XML%
- sed -i -e "s/_INFO_/%INFO%/g" %APPMAN_CONFIG_XML%
- sed -i -e "s/_URL_/%GITHUB_RELEASES%\/download\/%APPVEYOR_BUILD_VERSION%\/%NAME%.fdz/g" %APPMAN_CONFIG_XML%
- sed -i -e "s/_CHECKSUM_/%CHECKSUM%/g" %APPMAN_CONFIG_XML%
after_build:
artifacts:
- path: $(NAME).fdz
  name: $(NAME)
  type: zip
- path: $(APPMAN_CONFIG_XML)
  name: appman
  type: txt
deploy:
- provider: GitHub
  release: $(appveyor_build_version)
  auth_token:
    secure: HK9ej9WVysHQHeTEQ/QTOJmh08xCtDQyDBy5uXWrWV/xROMNkQrTeQv1j2tYOxVw
  artifact: /(.*\.fdz)|(appman.txt)/
  on:
    branch: master
